.connectedSortable {
    /* https://github.com/almasaeed2010/AdminLTE/issues/41 */
    min-height: 100px;
}

#dashboard{
    position: relative;
    width: 100%;
}

#dashboard>div{
    position: absolute; 
}

#dashboard div[data-ss-colspan="1"] { width: 23%; }
#dashboard div[data-ss-colspan="2"] { width: 48%; }
#dashboard div[data-ss-colspan="3"] { width: 73%; }
#dashboard div[data-ss-colspan="4"] { width: 98%; }
